@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --navHeight: 90px; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navHeight);
  background-color: #000;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {

}

.main-container {}

section {
  height: 500px;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background: url("./assets/conference.jpg");
  background-size: cover;
}

.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  box-shadow: 2px solid black;
}

@media screen and (max-width: 768px) {
  .back-to-top{
    bottom: 1rem;
    right: 1rem;
  }
}